.home-container{
    display: flex ;
    align-items:flex-start ;
    justify-content: space-between ;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/GrayMinimalist.png') ;
    background-repeat: no-repeat;
    background-size:cover;
}
