.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.project-title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.card-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(42%);
}


.description{
    text-align: center;
    overflow: hidden;
    width: 100;
    /* transform: translateX(-7%); */
}

.pushPin{
    color: crimson;
    transform: translateY(-100%);
}

.card-top-decor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title a{
    text-decoration: none;
    color: rgb(28, 26, 26);
}

.card-icons{
    display: flex;
    width: 30px;
    height: 20px;
}

.card-functions{
    display: flex;
    justify-content: space-between;

}

.project-content p {
    font-family:monospace;
    display: block;
    padding-left: 3px;
    padding-top: 25px;
    height: 100px;
    align-items:center;
    justify-content: center;
    transform: translateY(20%);
}

.project-bot{
    padding-top: 5px;
    /* transform: translateX(5%); */
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.card{
    background-image: url('../../assets/notepad.png');
    background-size: 200px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    transition: transform 100ms ease-in;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 10rem;
}


.card-info:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}




.card:hover{
    transform: scale(1.05);
}

.card:hover{
    box-shadow: 0 0 25px rgb(47, 43, 20);
}
