.main-container{
    display: flex;
}

.task-top{
    display: flex !important;
    width: 90vw !important;
}

.top-text{
    padding-top: 20px;
    transform: translateY(70%);
    font-size: 22px !important;
}

.top-right{
    text-align: right;
}
