.create-project-form > input{
    background: #f9f3f3;
    width: 85%;
}


.btn{
    display:block !important;
    text-decoration: none !important;
    background: rgb(68, 142, 172) !important;
    color: #fff !important;
    width: 60px !important;
    height: 60px !important;
    line-height: 120px !important;
    border-radius: 60% !important;
    text-align: center !important;
    position: fixed !important;
    right: 15px !important;
    bottom: 15px !important;
    z-index: 10;
}

.btn:hover{
    cursor: pointer;
    scale: 1.08;
}
