.edit-project-form{
    padding: 100px;
    display: flex;
    flex-direction: column;
    height: 63vh;
}

.edit-project-form > label{
    display: flex;
    flex-direction: column;
}

#edit{
    border: none;
    padding: 15px;
    width: 10rem;
    color: white;
    background-color: green;
    cursor: pointer;
}